obj/Debug/net8.0/win-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/win-x64/RdpMonitor.AssemblyInfo.cs
obj/Debug/net8.0/win-x64/RdpMonitor.AssemblyInfoInputs.cache
obj/Debug/net8.0/win-x64/RdpMonitor.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/win-x64/RdpMonitor.GlobalUsings.g.cs
bin/Debug/net8.0-windows/win-x64/RdpMonitor.dll
bin/Debug/net8.0-windows/win-x64/RdpMonitor.exe
bin/Debug/net8.0-windows/win-x64/RdpMonitor.pdb
bin/Release/net8.0-windows/win-x64/RdpMonitor.dll
bin/Release/net8.0-windows/win-x64/RdpMonitor.exe
bin/Release/net8.0-windows/win-x64/RdpMonitor.pdb
bin/Release/net8.0-windows/win-x64/publish/RdpMonitor.exe
bin/Release/net8.0-windows/win-x64/publish/RdpMonitor.pdb
bin/Debug/net8.0-windows/win-x64/RdpMonitor.dll
bin/Debug/net8.0-windows/win-x64/RdpMonitor.exe
bin/Debug/net8.0-windows/win-x64/RdpMonitor.pdb
bin/Release/net8.0-windows/win-x64/RdpMonitor.dll
bin/Release/net8.0-windows/win-x64/RdpMonitor.exe
bin/Release/net8.0-windows/win-x64/RdpMonitor.pdb
bin/Release/net8.0-windows/win-x64/publish/RdpMonitor.exe
bin/Release/net8.0-windows/win-x64/publish/RdpMonitor.pdb
